#firstSection{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #2D3436, #000000);
    /*background-color:#000000;*/
}

#secondSection{
    width: 100%;
    background-image: linear-gradient(to right, #2D3436, #000000);
}

#welcome {
    margin-left: 3%;
    padding-top: 15%;
}



#welcome h1{
    font-family: 'Podkova', serif;
    font-size: 100px;
    color: rgba(255,255,255,.99);
    word-wrap: break-word;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */

}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

#AboutMeParagraph{
    width: 300px;
    margin-left: 10px;
    padding-top: 30px;
    padding-bottom: 200px;
}

#AboutMeParagraph h2{
    font-family: 'Ubuntu', sans-serif;
    color:rgba(255,255,255,.99);
    font-size: 30px;
    line-height: 115%;
    font-weight: bold;
}

#thirdSection{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #2D3436, #000000);
}

#thirdSection h1{
    font-family: 'Podkova', serif;
    font-size: 88px;
    color:rgba(255,255,255,.99);
    margin-left: 28px;
}

#fourthSection{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #2D3436, #000000);
}

#fourthSection h1{
    font-family: 'Podkova', serif;
    font-size: 88px;
    color:rgba(255,255,255,.99);
    margin-left: 28px;
}

a {
    font-family: 'Ubuntu', sans-serif;
    color:rgba(255,255,255,.99);
    font-size: 30px;
    margin-left: 28px;
    margin-bottom: 15px;
}

@media only screen and (min-width: 768px){

    #firstSection{
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(to right, #2D3436, #000000);
        /*background-color:#000000;*/
    }
    
    #secondSection{
        width: 100%;
        background-image: linear-gradient(to right, #2D3436, #000000);
    }
    
    #welcome {
        margin-left: 33%;
        padding-top: 7%;
    }
    
    #welcome h1{
        font-family: 'Podkova', serif;
        font-size: 120px;
        color: rgba(255,255,255,.99);
        animation: fadein 2s;
        -moz-animation: fadein 2s; /* Firefox */
        -webkit-animation: fadein 2s; /* Safari and Chrome */
        -o-animation: fadein 2s; /* Opera */
    
    }
    
    @keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-moz-keyframes fadein { /* Firefox */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-webkit-keyframes fadein { /* Safari and Chrome */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-o-keyframes fadein { /* Opera */
        from {
            opacity:0;
        }
        to {
            opacity: 1;
        }
    }

    #AboutMeParagraph{
        width: 300px;
        margin-left: 20px;
        padding-top: 30px;
    }

}
